<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- For Google Signin -->
        <meta
            name="google-signin-client_id"
            content="252840562590-o5o0kt0f036uhqnshctnft2ed6jj0ous.apps.googleusercontent.com"
        />
        <script
            src="https://apis.google.com/js/platform.js"
            async
            defer
        ></script>

        <link
            rel="stylesheet"
            type="text/css"
            href="{{url_for('static', filename = 'styles/index.css')}}"
        />
        <link
            rel="shortcut icon"
            type="image/png"
            href="{{url_for('static', filename = 'images/fav.png')}}"
        />

        <!-- Bootstrap Import -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"></script>

        <title>Raidboss Food</title>
    </head>
    <body>
        <!-- Navbar and Google Signin  -->
        <nav class="navbar nav_links">
            <a class="navbar-brand" href="index.html"
                ><img
                    src="{{url_for('static', filename = 'images/logo.png')}}"
                    href="index.html"
                    alt=""
                    width="300"
                    height="50"
                    class="d-inline-block align-center"
            /></a>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <div class="g-signin2" data-onsuccess="onSignIn"></div>
                </li>
            </ul>
        </nav>

        <!-- Main Text -->

        <div class="container-fluid text-center mainSite">
            <div
                class="
                    d-flex
                    justify-content-center
                    align-items-start
                    pt-3
                    h-100
                "
            >
                <div class="text-white">
                    <h1 class="mainText" style="font-size: 40px">
                        Local Vendors in Postal Code {{ postalCode }} within {{
                        distance }} km
                    </h1>
                    {% for (name, phone, website) in zip(allNames, allPhones,
                    allWeb) %}

                    <div class="accordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button">
                                    {{ name }} <span class="tab"></span>
                                    <strong>{{ phone }}</strong>
                                    <span class="tab"></span>
                                    <a href="{{ website }}" target="_blank"
                                        >Website</a
                                    >
                                </button>
                            </h2>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <script
            type="text/javascript"
            src="{{url_for('static', filename = 'app.js')}}"
        ></script>
    </body>
</html>
